<div class="container mt-3 mb-3">
  <div class="texto-auxiliar">
    <h2>Informações cadastrais</h2>
    <p>Adicione as suas informações no formulário abaixo</p>
  </div>
  <mat-card>
    <form>
      <div class="form-row">
        <div class="col">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome">
        </div>
        <div class="col">
          <label for="sobrenome">Sobrenome</label>
          <input type="text" class="form-control" id="sobrenome">
        </div>
      </div>
      <div class="form-group mt-3">
        <label for="altura">Altura</label>
        <input type="text" class="form-control" id="altura">
      </div>
      <div class="form-group">
        <label for="data-nascimento">Data Nascimento</label>
        <input type="date" class="form-control" id="data-nascimento" >
      </div>
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-success">Cadastar</button>
      </div>
    </form>
  </mat-card>
</div>