mat-toolbar {
  background-color: #CCCCCC;
  color: white;
  display: flex;
  height: 75px;
  h3{
    font-weight: 200;
    span{
      font-weight: 400;
    }
  }
  p{
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 300;
    color: #464646;
    strong{
      color: #005582;
    }
  }
}